{% extends "base.html" %}

{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ picture }}">
      <div class="media-body">
        <h2 class="display-4">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <form>
      <fieldset class="form-group">
        <legend class="border-bottom mb-2">Danger Zone</legend>
        <div class="form-group">
          <p class="form-control-label">Warning: Once you delete your documents or account, there is no going back. Please be certain.</p>
          <a class="btn btn-danger btn-sm mr-2" href="{{ url_for('delete_all_documents') }}">Delete All Documents</a>
          <a class="btn btn-danger btn-sm mr-2" href="{{ url_for('delete_account') }}">Delete Account</a>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-primary mr-2" href="{{ url_for('account') }}">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}