{% extends "base.html" %}


{% block content %}
<script src="//cdn.ckeditor.com/4.18.0/full/ckeditor.js"></script>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript">
  document.addEventListener( 'DOMContentLoaded',function()
  {
  CKEDITOR.replace( 'text_editor' );	
  });
</script>
  <h1>Create a new Document</h1>
  <input type="text" placeholder="Document Name">
  <p>Content of Document</p>
  <textarea name="ckeditor" id="text_editor"></textarea>
 

{% endblock %}