body {
  background: #f3f5fa;
  color: #444655;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444655;
}

.document-images img {
  max-width: 100%;
  max-height: 500px;
}

.banner-bg {
  background-color: #444655;
}

.site-header .navbar-nav .nav-link {
  color: #f3f5fa;
  padding-right: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #007bff;
}

.site-header .navbar-nav .nav-link.active {
  color: #444655;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #a8aabc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.article-content {
  margin-top: 0px;
  white-space: pre-line;
}

.article-metadata {
  margin-bottom: 6px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/* .article-metadata a:hover {
  color: #a8aabc;
  text-decoration: none;
} */

/* .article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
} */

/* .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
} */

/* .article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
} */

/* .account-heading {
  font-size: 2.5rem;
} */

/* .my-documents-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-items: stretch;
} */

/* .document-container {
  background-color: red;
  width: 100%;
  height: 100px;
  border: 5px black solid;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .mockup-images img {
  width: auto;
  height: 200px;
} */

/* .document-images img {
  max-width: 100%;
  max-height: 500px;
} */
