{% extends "base.html" %}

{% block content %}
  {% if current_user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search-bar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <h1>My Documents</h1>
    <div class="input-group rounded mb-2">
      <input type="search" class="form-control rounded mr-2" placeholder="" aria-label="Search" aria-describedby="search-addon" />
      <a class="btn btn-outline-info mr-2" href="{{ url_for('home') }}">Search</a>
    </div>
    <div class="input-group rounded mb-2">
      <a class="btn btn-outline-info mr-2" href="{{ url_for('new_document') }}">Create</a>
      <a class="btn btn-outline-danger mr-2" href="{{ url_for('delete_all_documents') }}">Delete All</a>
    </div>
    {% for document in documents.items %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">
              <b>Updated:</b> {{ document.updated_at.strftime('%Y-%m-%d %H:%M') }}

              <b>Users:</b>
              {% for user in document.user %}
                {{ user.username }}
              {% endfor %}

              {% if document.user|length + document.role|length > 15 %}
                <br>
              {% endif %}

              <b>Roles:</b>
              {% for role in document.role %}
                {{ role.title }}
              {% endfor %}
            </small>
          </div>
          <a class="btn btn-outline-danger btn-sm float-right" href="{{ url_for('delete_document', document_id=document.id) }}">Delete</a>
          <a class="btn btn-outline-info mr-2 btn-sm float-right" href="{{ url_for('duplicate_document', document_id=document.id) }}">Copy</a>
          <a class="btn btn-outline-info mr-2 btn-sm float-right" href="{{ url_for('edit_document', document_id=document.id) }}">Edit</a>
          <a class="btn btn-outline-info mr-2 btn-sm float-right" href="{{ url_for('view_document', document_id=document.id) }}">View</a>

          {% if request.MOBILE %}
            <h3 class="mt-5">{{ document.title }}</h3>
          {% else %}
            <h3>{{ document.title }}</h3>
          {% endif %}

          {% if document.content|length > 1000 %}
          <p class="article-content">{{ document.content[:1000] | safe }}... <a class="" href="{{ url_for('view_document', document_id=document.id) }}">Read More</a></p>
          {% else %}
          <p class="article-content limit-img-size">{{ document.content | safe }}</p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
    <div class="d-flex justify-content-center">
      {% for page_num in documents.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if documents.page == page_num %}
            <a class="btn btn-info mb-4 mr-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4 mr-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
        <!-- <div class="mr-2">...</div> -->
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <h1>Welcome to VOiC</h1>
    <p>
      While almost all of the documents we write, read, share, act on, process or archive are digital, their management remains archaic. This is particularly true in the case of most office and government systems. In business and government, documents chronicle and immortalize the evolution of thoughts, deliberations, laws and decisions for the for the past as historical records, the present and the future. While the traditional paper-based hard copies serve as reliable preservation medium, they are vulnerable to theft, destruction and loss.
    </p>
    <p>
      <img src="{{ url_for('static', filename='img/devices.png') }}" alt="desktop" class="float-left mr-2">
      On the other hand, digital documents are prone to cybercrimes of various kinds, but less prone to destruction due to aging, fading or loss. With proper safeguards in place, they are largely indestructible. Yet, a robust office document management system is mostly absent. In this project, we develop a new web-based document processing and management system called <u><i>V</i></u>irtual <u><i>O</i></u>ffice in the <u><i>C</i></u>loud}, or <i>VOiC</i> (pronounced voice), to create, share, query and update office documents. In VOiC, we make provisions to support decision workflows, virtual office and provenance and privacy based on role-based authorization. The system is based upon a recently proposed model for document management in virtual offices.
    </p>
    <a class="btn btn-outline-info mb-5 btn-lg d-flex justify-content-center" href="{{ url_for('sign_up') }}">Try It Now</a>
  {% endif %}
{% endblock %}