{% extends "base.html" %}

{% block content %}
  {% if current_user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search-bar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <h1>My Documents</h1>
    <div class="input-group rounded mb-4">
      <input type="search" class="form-control rounded mr-2" placeholder="" aria-label="Search" aria-describedby="search-addon" />
      <a class="btn btn-outline-info mr-2" href="{{ url_for('home') }}">Search</a>
      <a class="btn btn-outline-info mr-2" href="{{ url_for('new_document') }}">Create</a>
    </div>
    {% for document in documents %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            Users:
            {% for user in document.user %}
              <a class="mr-2" href="#">{{ user.username }}</a>
            {% endfor %}
            Roles:
            {% for role in document.role %}
              <a class="mr-2" href="#">{{ role.title }}</a>
            {% endfor %}
            <small class="text-muted float-right">Created at {{ document.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
          </div>
          <a class="btn btn-outline-danger btn-sm float-right" href="{{ url_for('delete_document', document_id=document.id) }}">Delete</a>
          <a class="btn btn-outline-info mr-2 btn-sm float-right" href="{{ url_for('edit_document', document_id=document.id) }}">Edit</a>
          <h3><a class="article-title" href="#">{{ document.title }}</a></h3>
          <p class="article-content">{{ document.content }}</p>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <h1>VOiC - Virtual Office In The Cloud</h1>
    <h4>A Project by Hayden Carroll and Austin Kugler</h4>
    <p>
      While almost all of the documents we write, read, share, act on, process or archive are digital, their management remains archaic. In VOiC, we make provisions to support decision workflows, virtual office and provenance and privacy based on role-based authorization. The system is based upon a recently proposed model for document management in virtual offices.
    </p>
  {% endif %}
{% endblock %}